*{
    user-select: none;
}
.intro-section{
    display: flex;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}
.intro-section .text{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-section .image{
    display: flex;
    width: 45%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}
.intro-section .image img{
    width: 100%;
    height: auto;
}
.social-media{
    height: 100%;
    bottom: 50px;
    right: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.social-media .icon{
    stroke: var(--secondary-blue-color);
    fill: var(--secondary-blue-color);
    margin-top: 20px;
    width: 18px !important;
}
.social-media .icon:hover{
    stroke: var(--primary-blue-color);
    fill: var(--primary-blue-color);
}
.skill{
    margin-top: 5px;
}
.skill span{
    color: var(--secondary-blue-color);
}

@media only screen and (max-width: 10500px) {
    @media only screen and (max-width: 1400px) {
        .social-media{
            right: 50px;
        }
    }
}

@media only screen and (max-width: 800px) {
    @media only screen and (max-width: 1200px) {
        .intro-section{
            flex-direction: column-reverse;
        }
        .intro-section .text{
            width: 100%;
        }
        .intro-section .image{
            width: 75%;
        }
    }
}
@media only screen and (max-width: 500px) {
    @media only screen and (max-width: 850px) {
        h2{
            font-size: 3rem;
        }
        .social-media{
            right: -23px;
            bottom: 10px;
            height: 30%;
            padding: 0 10px;
            justify-content: space-evenly;
            background-color: var(--secondary-blue-color);
        }
        .social-media.active{
            right: 10px;
            animation: socialMediaAnimation 0.5s ease-in forwards;
        }
        .social-media.active .icon{
            stroke: var(--primary-white-color);
            fill: var(--primary-white-color);
        }
    }
}

@keyframes socialMediaAnimation {
    from{
        right: -28px;
    }
    to{
        right: 10px;
    }
}
